.contactUsForm {
  max-width: 600px;
  margin: 50px auto 100px auto;
  
  .ant-input, .ant-select-selector {
    border-radius: 1px !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px rgb(194, 194, 194) solid !important;
  }

  .ant-input:focus, .ant-select-selector:focus {
    box-shadow: 0 0 0 2px rgba(211, 211, 211, 0.1);
  }

  .ant-select-selection-placeholder, .ant-select-selection-item {
    text-align: left !important;
  }
}

.ant-spin, .ant-spin-text{
  color: rgb(88, 88, 88) !important;
}

.ant-form-item-control-input-content > div > div {
  display: flex;
  place-content: center;
}